
<div *ngIf="ticket">
    <h2><span jhiTranslate="ticketApp.ticket.detail.title">Ticket</span> {{ticket.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ticketApp.ticket.ticket_name">Ticket Name</span></dt>
        <dd>
            <span>{{ticket.ticket_name}}</span>
        </dd>
        <dt><span jhiTranslate="ticketApp.ticket.ticket_desc">Ticket Desc</span></dt>
        <dd>
            <span>{{ticket.ticket_desc}}</span>
        </dd>
        <dt><span jhiTranslate="ticketApp.ticket.type">Type</span></dt>
        <dd>
            <span>{{ticket.type}}</span>
        </dd>
        <dt><span jhiTranslate="ticketApp.ticket.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'ticketApp.Status.' + ticket.status}}">{{ticket.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ticket/'+ ticket.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
